:root {

  --primary: #1B4B66;
  --primary-tint: #639599;
  --error: #B00020;
  --highlight: #FF8C4B;
  --accent: #F4F4F4;
  --dark: #13101E;
  --bright: #FFFFFF;
  --gray: #F1F1F1;
  --light-text: #B6B6B6;
  --high-emphasis: #171520;
  --low-emphasis: #626262;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding :0;
}
body {
  background-color: var(--bright);
  margin: 0;
  padding :0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

